#choropleth_map {
	top:100px;
	bottom: 100px; 
	left: 100px;
	right: 100px;
	/*height: 1000px;
	width: 800px;*/
}

/* Center and reposition the Vega-Lite slider */
.vega-bindings {
  display: flex;
  justify-content: center;  /* center horizontally */
  margin: 12px 0;           /* add space above and below */
}
